<div class="allFileMain">
    <div class="top">
        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" [nzShowUploadList]="false" (nzChange)="uploadChange($event)">
            <button nz-button><i nz-icon nzType="upload"></i> 上传</button>
        </nz-upload>
    </div>
    <div class="bottom">
        <!-- <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div>
        <div>2112321</div> -->
    </div>
</div>
